header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background-color);
    backdrop-filter: var(--blur);
    height: 75px;
    border-radius: 0px 0px 25px 25px;
    position: fixed;
    z-index: 100000;
}

header nav {
    display: flex !important;
    flex-direction: row;
    justify-content: flex-end;
}

header nav .nav-btn {
    margin-left: 12.5px;
    margin-right: 12.5px;
    padding: 15px;
    color: #111111;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

header nav .nav-btn-primary{
    color: #fa9052;
    /* border: 1px solid #fa9052; */
    background-color:  var(--background-color-secondary);
    border-radius: 15px;
    padding-left: 25px;
    padding-right: 25px;
}
header nav .contrast{
    height: calc(100% - 20px);
    margin-top: 10px;
    color: #fa9052;
    border: 1px solid #fa9052;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
header nav .contrast img {
    height: 25px;
    margin-right: 5px;
    padding: 0;
    display: flex;
}
header .contrast #off { display: none; }
header .contrast #on { display: flex; }

img {
    height: 45px;
    padding-left: 30px;
}
